.col-md-12 {
    font-family: 'Muli', sans-serif;
}

.nihuiasebe {
    margin-bottom: 2px;
    margin-top: 12px;
}

.col-md-12 input {
    border: none;
}

#vLine {
    position: absolute;
    margin-left: 12px;
    background-color: midnightblue;
    height: 610px;
    width: 5px;
    z-index: 1;
}

input, textarea {
    border: none;
    background: #e8fbfd;
}

.circle {
    /*position: absolute;*/
    margin-right: 100px;
    margin-top: 15px;
    background-color: midnightblue;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    z-index: 2;
}

.mid6 {
    margin-top: 150px;
}

.last {
    margin-top: 110px;
}

.container1 {
    width: 22%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-left: 1px;
}

.container1 .row {

    max-width: 300px;
    margin-left: 15px;
}

button{
    width: 85px;
}