@page "/Login"

<div class="background">
        <div class="flex-container">
            <div class="name">REVERSO</div>
            <div class="regBox">
                <form>
                    <label for="username">Username:</label><input type="text" id="username" name="username"><br>
                    <label for="password">Password:</label><input type="text" id="password" name="password"><br>
                </form><br>
                <button class="loginButton" type="button">Login</button>
            </div>
        </div>
    </div>

@code {
    
}