@page "/Login"
@using HttpClients.ClientInterfaces
@using global::Shared.DTOs
@inject IUserService UserService
@inject NavigationManager NavManager

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card">
                <h2 class="card-title text-center">Log In</h2>
                <div class="card-body py-md-4">
                    <form _lpchecked="1">
                        <div class="form-group">
                            <input type="text" class="form-control" @bind="userName" placeholder="Username" required>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" @bind="password" placeholder="Password" required>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-between">
                            <a href="/Register">Register</a>
                            <button class="btn btn-primary" type="button" @onclick="LoginUser">Log In</button>
                        </div>
                        <div>
                            <span style="color: red">@msg</span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    string userName = "";
    string password = "";
    string msg = "";

    private async Task LoginUser()
    {
        msg = "";

        if (userName == "" || password == "")
        {
            msg = "All fields are required";
            return;
        }

        try
        {
            var dto = new UserLoginDTO
            {
                Username = userName,
                Password = password,
            };

            await UserService.LoginAsync(dto);
            NavManager.NavigateTo("/");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }
}