@page "/Profile"

<div class="navBar_Top">
        <a class="title">REVERSO</a>
        <a class="balance">500<img src="images/revcoin.png" alt="revcoin"></a>
    </div>

    <div class="wrapper">
        <div id="avatar">
            <img id="avatarImage" src="images/avatar.jpg" alt="avatar">

            <div class="flex-container">
                <div id="info">
                    <div id="name">Welcome, Diana Antoniuc!</div>
                    <div id="address">Sondre Ringgade, Aarhus C, Denmark</div>
                </div>

                <br><br><br><br><br><br><br>

                <div class="currentOrder">
                    <div id="orderNr"><img id="orderNrTruck" src="images/truck.png" alt="truck">Current orders: 1</div>
                    <div id="orderStatus"> <img id="statusImage" src="images/delivery-status.png" alt="status"> <b>Status
                            (order 1): </b> Purchase confirmed</div>
                </div>

                <br><br><br>

                <div class="orderHistory">
                    <div id="orderHistory"><img id="history" src="images/history.png" alt="history">Orders history<img
                            id="arrow" src="images/arrow-down-sign-to-navigate.png" alt="arrow"></div>
                </div>

                <br><br><br>

                <div class="revcoins">
                    <div id="refilRevcoins"><img id="revcoin" src="images/revcoin.png" alt="revcoin">Want to refil balance?<img
                            id="arrow" src="images/arrow-down-sign-to-navigate.png" alt="arrow"> </div>
                </div>

                <br><br><br><hr><br><br><br>

                <div class="logout">
                    <div id="logout"> <img id="logoutIcon" src="images/logout.png" alt="logout"> Logout </div>
                </div>

            </div>
        </div>
    </div>

@code {
    
}