@page "/Register"
@using HttpClients.ClientInterfaces
@using global::Shared.DTOs
@inject IUserService UserService
@inject NavigationManager NavManager


<div class="background">
    <div class="flex-container">
        <div class="name">REVERSO</div>
        <div class="regBox">
            <form>
                <label for="username">Username:</label><input type="text" @bind="userName" required="required"><br>
                <label for="password">Password:</label><input type="text" @bind="password" required="required"><br>
                <label for="fname">First name:</label><input type="text" @bind="fName" required="required"><br>
                <label for="lname">Last name:</label><input type="text" @bind="lName" required="required"><br>
            </form><br>
            <button class="regButton" type="button"  @onclick="Create">Register</button>
        </div>
    </div>
    <div>
        <span style="color: red">@msg</span>
    </div>
</div>

@code {
    string userName = "";
    string password = "";
    string fName = "";
    string lName = "";
    string msg = "";

    private async Task Create()
    {
        msg = "";
        
        if (userName == "" || password == "" || fName == "" || lName == "")
        {
            msg = "All fields are required";
            return;
        }
        
        try
        {
            var dto = new UserCreationDTO
            {
                userName = userName,
                password = password,
                FirstName = fName,
                LastName = lName
            };

            await UserService.CreateAsync(dto);
            NavManager.NavigateTo("/Login");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }

    

}