@page "/Register"
@inject IUserService UserService
@using HttpClients.ClientInterfaces
@using global::Shared.DTOs


<div class="">
    <h3>Register</h3>
    <div>
        <label>User name:</label><br>
        <input type="text" @bind="userName" required="required"><br>
        <label>Password:</label><br>
        <input type="text" @bind="password" required="required" ><br>
        <label>First name:</label><br>
        <input type="text" @bind="fName" required="required"><br>
        <label>Last name:</label><br>
        <input type="text" @bind="lName" required="required"><br>
        <label>Credits:</label><br>
        <input type="text" @bind="credits" required="required"><br>
        <label>Type:</label><br>
        <input type="text" @bind="type" required="required"><br>
    </div>
    <br/><br/>
    <input type="submit" value="Register" class="button btn-success" onclick="@Create"/>
</div>

@code {
    private string userName;
    private string password;
    private string fName;
    private string lName;
    private string type;
    private int credits;

    // private async Task Create()
    // {
    //     var resultMsg = "";
    //
    //     try
    //     {
    //         await UserService.Create(new UserCreationDto(username));
    //         var username = "";
    //         resultMsg = "User successfully created";
    //     }
    //     catch (Exception e)
    //     {
    //         Console.WriteLine(e);
    //         resultMsg = e.Message;
    //     }
    //
    //     var userCreationDto = new UserCreationDto
    //     {
    //         
    //     };
    //
    //     await UserService.Create(userCreationDto);
    // }

    private async Task Create()
    {
        
        try
        {
            UserCreationDTO dto = new();
            dto.userName = userName;
            dto.password = password;
            dto.FirstName = fName;
            dto.LastName = lName;
            dto.Credits = credits;
            dto.type = type;

        await UserService.CreateAsync(dto);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }

        userName = "";
        password = "";
        fName = "";
        lName = "";
        credits = 0;
        type = "";
    }
    

}