@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <a href="/Login" class="navButton">Log In</a>
            <a href="/Register" class="navButton">Register</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>